/* CSS Custom Properties Definitions */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.nav-font {
  font-family: "Roboto", sans-serif !important;
}

body {
  font-family: "Crimson Text", sans-serif !important;
}

html,
body {
  overflow-x: hidden !important;
  width: 100%;
}

.footer-link {
  color: #0077b6 !important;
}

.article-titles {
  color: #0077b6 !important;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  text-align: left !important;
  font-weight: 900 !important;
}

.article-titles:hover {
  background: #d4d4d450;
}

.blue-color,
a {
  color: #0077b6 !important;
}

.blank-link {
  color: #000 !important;
}

.follow-btn {
  color: #000 !important;
}

.follow-btn:hover {
  color: #fff !important;
  background: #0077b6 !important;
}

.title-link:hover {
  border: 2px solid #0077b6;
  border-top: none;
  border-left: none;
  border-right: none;
}

@media (min-width: 992px) {
  /*.article-sect {
    margin-left: 25vw !important;
  }
  */
  ul,
  li,
  p {
    font-size: 1.25rem !important;
  }
  .article-titles {
    font-size: x-large;
  }
}

@media (min-width: 650px) {
  ul.jsx-2008102337 li.jsx-2008102337 span.jsx-2008102337 {
    display: inline-block;
    width: 160px;
    padding-right: 10px;
    text-align: right;
    font-size: inherit;
    margin-left: 18vw;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul.jsx-2008102337 li.jsx-2008102337 span.jsx-2008102337 {
  color: #5b5b5b;
  font-size: 18px;
}

ul,
ol {
  list-style: none;
}
ul.jsx-2008102337,
li.jsx-2008102337 {
  padding: 10px 15px;
}

body {
  min-height: 100vh;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
