/* CSS Custom Properties Definitions */

.footer-link {
  color: #0077b6 !important;
}

.article-titles {
  color: #0077b6 !important;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.article-titles:hover {
  background: #d4d4d450;
}

.blue-color,
a {
  color: #0077b6 !important;
}

.blank-link {
  color: #000 !important;
}

.follow-btn {
  color: #fff !important;
  background: #000 !important;
}

.follow-btn:hover {
  background: #0077b6 !important;
}

.title-link:hover {
  border: 2px solid #0077b6;
  border-top: none;
  border-left: none;
  border-right: none;
}
